@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card-background {
        content: "";
        pointer-events: none;
        user-select: none;
        position: absolute;
        inset: 0px;
        border-radius: inherit;
        padding: 1px;
        @apply bg-gradient-to-b from-indigo-600;
        -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
        -webkit-mask-composite: xor;
    }
}